.contactsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

@media(max-width: 768px) {
    .contactsList {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}
