.aboutMe {
    width: 100%;
    height: 100vh;
    background-image: url('src/pages/Home/page component/About me/background img/blackBack.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media(max-width: 768px) {
    .aboutMe {
        width: 100%;
        height: 100vh;
        background-image: url('src/pages/Home/page component/About me/background img/blackBack.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
