body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--black-background-color);
    font-weight: bold;
    scroll-behavior: smooth;
    a {
        text-decoration: none;
    }
}

@font-face {
    font-family: 'PIXEl';
    src: url('../fonts/sonic-hud-c-italic.ttf') format('woff2'),
    url('../fonts/sonic-hud-c-italic.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}
