.defaultHeaderInterfaceLogo {
    margin-left: 10%;
    p {
        font-size: 50px;
        transition: var(--transition);
        color: var(--black-text-color);
    }
    p:hover {
        color: var(--black-hover-color);
    }
}